*__pycache__*

# User-specific uVision files
.opt
.uvopt
.uvoptx
.uvgui
.uvgui.
*.uvguix.*

# Listing files
.cod
.htm
.i
.lst
.map
.m51
.m66
# define exception below if needed
.scr

# Object and HEX files
.axf
.b[0-3][0-9]
.hex
.d
.crf
.elf
.hex
.h86
.lib
.obj
.o
.sbr

# Build files
# define exception below if needed
.bat
._ia
.__i
._ii

# Generated output files
Listings
Objects

# Debugger files
# define exception below if needed
JLinkSettings.ini
JLinkLog.txt

# Other files
.build_log.htm
.cdb
.dep
.ic
.lin
.lnp
.orc
# define exception below if needed
.pack
# define exception below if needed
.pdsc
.plg
# define exception below if needed
.sct
.sfd
.sfr
*.scvd

# Miscellaneous
.tra
.bin
.fed
.l1p
.l2p
.iex

# To explicitly override the above, define any exceptions here; e.g.
# !my_customized_scatter_file.sct

#VisualGDB
build
Debug
Release
VisualGDB
.VisualGDB
*.opensdf
*.sdf
*.suo
*.old
.vs
.visualgdb
VisualGDBCache
CodeDB
*.user
.map

package-lock.json

.vscode

#QtCreator
build*

deploy*

.idea/
cmake-build-debug/

.venv*/

*.cproject
*.project
*.mxproject
